/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/cgi-bin
/etc
/html
/lib
/logs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml

.scannerwork/*
sonar-project.properties
coverage-report.xml
coverage-report.xmlsonar
tests-report.xml
reports/*